:root {
    --background-color: #d5e1ef;
    --text-color: #1f314f;
    --small-text-color: #68778d;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: "Outfit", sans-serif;
}

body {
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

.container {
    background-color: white;
    text-align: center;

    width: 320px;
    height: 500px;
    padding: 16px 16px 40px 16px;

    border-radius: 20px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.1);
}

.container img {
    width: 288px;
    height: 288px;
    border-radius: 10px;
} 

.container .text {
    padding: 0 16px;
    margin-top: 24px;
}

.text h2 {
    color: var(--text-color);
    font-weight: 900;
    font-size: 20px;
}

.text p {
    color: var(--small-text-color);
    font-size: 15px;

    margin-top: 16px;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}