* {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
}

:root {
    --background-color: #d5e1ef;
    --text-color: #1f314f;
    --small-text-color: #68778d;
}
















.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}